footer {
    height: 90px;
    width: 100%;
    background-color: $green1Trans;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 1rem;
    font-size: 1.25rem;
}

.footer-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.footer-links-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    margin: .25rem 0;
}

.christmas-footer-link {
    width: 100%;
    color: black;
}

.christmas-footer-link:visited,
.christmas-footer-link:active,
.christmas-footer-link:link {
    color: black;
}