.santa-wrapper {
    background-image: url('/images/santa.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}