::-webkit-input-placeholder {
    font-family: $font-family;
  }
  ::-moz-placeholder {
    font-family: $font-family;
  }
  :-ms-input-placeholder {
    font-family: $font-family;
  }
  :-moz-placeholder {
    font-family: $font-family;
  }

  a,
  a:visited,
  a:active,
  a:link {
    color: rgba(255, 255, 255, .8);
  }

  .christmas-heading-one {
    font-size: 2.75rem;
    margin-bottom: 1rem;
  }

  .christmas-heading-two {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .christmas-message-p {
    font-size: 1.75rem;
    margin-bottom: 1rem;
  }

  .christmas-message-small-p {
    font-size: 1rem;
  }    

  .christmas-text-block {
    padding: 1rem;
    max-width: 800px;
    margin: 0 auto;
  }

  .team-heading {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .team-p {
    font-size: 1.5rem;
    margin-bottom: .5rem;
  }