{% extends "nunjucks/templates/main.njk" %}

{% block pageTitle %}Internal Santa Error{% endblock %}

{% block content %}
    <div>
        <div class="santa-wrapper"></div>
        <div class="christmas-message-wrapper">
            <h1>Oh No, Internal Santa error :(</h1>
            <a href="/user/ho-ho-home">Go ho ho home</a>
        </div>
    </div>
{% endblock %}