{% extends "nunjucks/templates/main.njk" %}

{% block pageTitle %}Santa Says No{% endblock %}

{% block content %}
    <div>
        <div class="santa-wrapper"></div>
        <div class="christmas-message-wrapper">
            <h1>Santa Says No!</h1>
            <a href="/">I'm sorry Santa</a>
        </div>
    </div>
{% endblock %}

