{% extends "nunjucks/templates/main.njk" %}

{% block pageTitle %}Contact us{% endblock %}

{% block content %}
<div>
    {% set names = userToken.username.split(" ") %}
    <div class="santa-wrapper"></div>
    <div class="christmas-message-wrapper">
    <h1 class="christmas-heading-one">Greetings, {{ names[0] }}.</h1>
        <h2 class="christmas-heading-two">So you want to know about cookies?</h2>
        <p class="christmas-message-p">Santa tends to prefer a medium sized serving of cookies, perhaps two or three, along with a nice glass of milk.</p>
        <p class="christmas-message-p">Don't worry too much, if you're short on chocolate chips. Santa will also be happy
        with a couple of mince pies and a glass of sherry.</p>

        <a class="christmas-home-link" href="/user/ho-ho-home">Thanks. I'll go back home now and put some cookies out.</a>
    </div>
</div>
{% endblock %}

