$red: rgb(187, 37, 40);
$redTrans: rgba(187, 37, 40, .7);
$orange: rgb(234, 70, 48);
$yellow: rgb(248, 178, 41);
$green1: rgb(20, 107, 58);
$green1Trans: rgba(20, 107, 58, .8);
$green2: rgb(22, 91, 51);
$green2Trans: rgba(248, 178, 41, .6);